{{> header title="Password Changed"}}

<h3>Hello {{name}},</h3>

<p>Your password has been changed successfully.</p>

<p>
If this wasn't you, please contact support immediately.
</p>

{{> footer year=year}}