{{> header title="Reset Password"}}

<h3>Hello {{name}},</h3>

<p>You requested to reset your password.</p>

<p>Your OTP is:</p>

<h1 style="color:#146adb;">
    {{otp}}
</h1>

<p>
This OTP is valid for 10 minutes.
</p>

{{> footer year=year}}